@font-face {
  font-family: "Monda";
  src: url("../fonts/Monda/Regular/Monda-Regular.woff2") format("woff2"),
    url("../fonts/Monda/Regular/Monda-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Monda";
  src: url("../fonts/Monda/Bold/Monda-Bold.woff2") format("woff2"),
    url("../fonts/Monda/Bold/Monda-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gupter";
  src: url("../fonts/Gupter/Regular/Gupter-Regular.woff2") format("woff2"),
    url("../fonts/Gupter/Regular/Gupter-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gupter";
  src: url("../fonts/Gupter/Medium/Gupter-Medium.woff2") format("woff2"),
    url("../fonts/Gupter/Medium/Gupter-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gupter";
  src: url("../fonts/Gupter/Bold/Gupter-Bold.woff2") format("woff2"),
    url("../fonts/Gupter/Bold/Gupter-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Khula";
  src: url("../fonts/Khula/Regular/Khula-Regular.woff2") format("woff2"),
    url("../fonts/Khula/Regular/Khula-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Khula";
  src: url("../fonts/Khula/Light/Khula-Light.woff2") format("woff2"),
    url("../fonts/Khula/Light/Khula-Light.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Khula";
  src: url("../fonts/Khula/Bold/Khula-Bold.woff2") format("woff2"),
    url("../fonts/Khula/Bold/Khula-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
