<h2>{{ title }}</h2>
<ul class="playlists" *ngIf="playlists$ | async as playlists">
  <li class="create" *ngIf="allowCreation" (click)="isCreating = true">
    <div class="playlist-link">
      <div class="default">
        <i class="icon plus"></i>
      </div>
      <div>Create a playlist</div>
    </div>
  </li>
  <li *ngFor="let playlist of playlists?.items">
    <a class="playlist-link" (click)="navigate(playlist.id)">
      <swg-playlist-image [playlist]="playlist"></swg-playlist-image>
      <div>{{ playlist.name }}</div>
    </a>
  </li>
</ul>
<ng-container *ngIf="(user$ | async)?.id as user">
  <swg-dialog *ngIf="allowCreation && isCreating" [entry]="dialog" (cancel)="isCreating = false"
    (action)="onCreate($event, user)"></swg-dialog>
</ng-container>
