<div class="container">
  <div class="primary-nav">
    <exp-playlist [user$]="primaryUser$" [playlists$]="primaryPlaylists$" [playlist$]="primaryPlaylist$" [tracks$]="primaryPlaylistTracks$"
      (action)="execute($event)" (next)="onNext($event, false)" (search)="onSearch($event, false)"></exp-playlist>
  </div>
  <div class="content" *ngIf="isLargeScreen()">
    <header>
      <h1>Wanna see a magic trick?</h1>
      <p>Export your favorite tracks!</p>
    </header>
    <div class="from-to">
      <div class="box" [title]="(primaryPlaylist$ | async)?.name ? (primaryPlaylist$ | async)?.name : 'Unknown'">
        <exp-playlist-image [playlist]="primaryPlaylist$ | async"></exp-playlist-image>
      </div>
      <i class="icon long-arrow-right"></i>
      <div class="box" [title]="(secondaryPlaylist$ | async)?.name ? (secondaryPlaylist$ | async)?.name : 'Unknown'">
        <exp-playlist-image [playlist]="secondaryPlaylist$ | async"></exp-playlist-image>
      </div>
    </div>
  </div>
  <div class="secondary-nav">
    <ng-container *ngIf="isSecondaryAuthenticated(); then playlist; else card"></ng-container>
    <ng-template #playlist>
      <div class="header">
        <a class="back" title="Back to playlists" (click)="navigateBack()">
          <i class="icon long-arrow-left"></i>
        </a>
        <exp-profile-menu [user$]="secondaryUser$" [isSecondary]="true"></exp-profile-menu>
      </div>
      <exp-playlist [user$]="secondaryUser$" [playlists$]="secondaryPlaylists$" [playlist$]="secondaryPlaylist$" [tracks$]="secondaryPlaylistTracks$"
        [isSecondary]="true" (action)="execute($event)" (next)="onNext($event, true)" (search)="onSearch($event, true)"></exp-playlist>
    </ng-template>
    <ng-template #card>
      <div class="card-wrapper">
        <exp-card platform="Spotify" (auth)="authenticate($event)">
          <ul class="tips">
            <li>
              <h2>Log in with your Spotify account</h2>
              <p>This is the account you want to update.</p>
            </li>
            <li>
              <h2>Select a playlist to modify</h2>
              <p>The playlist you chose will be modified by tracks you will add or remove.</p>
            </li>
            <li>
              <h2>Export your tracks</h2>
              <p>You can add or remove tracks one by one or simply all in one.</p>
            </li>
          </ul>
        </exp-card>
      </div>
    </ng-template>
  </div>
</div>
