@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/icons";
:host {
  flex-grow: 1;
  .container {
    display: grid;
    grid-template-columns: 500px auto 500px;
    grid-template-areas: "primary-nav content secondary-nav";
    height: 100%;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 1em 0 1em;
      .back {
        cursor: pointer;
      }
      .primary-user {
        display: flex;
        align-items: center;
        i {
          margin: 0 0.5em 0.3em 0;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 0 0.5em;
        }
      }
    }
    .primary-nav {
      grid-area: primary-nav;
      background-color: $second-background;
      exp-playlist::ng-deep {
        max-height: calc(100vh - 145px);
      }
    }
    .content {
      grid-area: content;
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-direction: column;
      background-image: linear-gradient(90deg, #7b2075, #d0c8cf);
      padding: 2em;
      header {
        text-align: center;
        margin-bottom: 1.5em;
      }
      .from-to {
        display: grid;
        column-gap: 1.5em;
        grid-auto-flow: column;
        align-items: center;
        margin: 1em 0;
        .box {
          display: flex;
          flex-direction: column;
          exp-playlist-image::ng-deep {
            .container {
              width: 150px;
              height: 150px;
            }
          }
        }
        i {
          font-size: 40px;
        }
      }
    }
    .secondary-nav {
      grid-area: secondary-nav;
      background-color: $second-background;
      exp-playlist::ng-deep {
        max-height: calc(100vh - 145px);
      }
      .card-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        exp-card {
          max-width: 250px;
          margin: auto;
        }
        .tips {
          display: grid;
          row-gap: 2em;
          justify-content: center;
          margin: 2em;
          h2 {
            font-weight: 600;
          }
          p {
            color: $alt;
          }
        }
      }
    }
  }
}
