<div class="container">
  <div class="primary-nav">
    <exp-playlist [playlist$]="primaryPlaylist$"></exp-playlist>
  </div>
  <div class="content" *ngIf="isLargeScreen()">
    <h1>Wanna see a magic trick?</h1>
    <div>Make your wishlist and start exporting.</div>
  </div>
  <div class="secondary-nav">
    <ng-container *ngIf="isSecondaryAuthenticated(); then playlist; else card"></ng-container>
    <ng-template #playlist>
      <exp-playlist [playlist$]="secondaryPlaylist$"></exp-playlist>
    </ng-template>
    <ng-template #card>
      <exp-card platform="Spotify" description="Authenticate with your second account to import your favorite music"
        (auth)="authenticate($event)"></exp-card>
    </ng-template>
  </div>
</div>
