:host {
  swg-playlists::ng-deep {
    .playlist-link {
      .default {
        width: 40px !important;
        height: 40px !important;
        i {
          font-size: 10px !important;
        }
      }
      swg-spotify-playlist-image::ng-deep {
        .container {
          width: 40px !important;
          height: 40px !important;
          i {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}
