@import "../../../../assets/styles/icons";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
:host {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav-bar top-bar top-bar"
    "nav-bar main-view main-view";
  .loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $background;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    .element {
      width: 80px;
      height: 80px;
      border: 3px solid rgba(255, 255, 255, 0.15);
      border-top-color: $white;
      border-radius: 50%;
      animation: spin 1s ease-in-out infinite;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .top-bar {
    grid-area: top-bar;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    .shares {
      display: grid;
      column-gap: 1.5em;
      grid-auto-flow: column;
      .share-link {
        display: flex;
        color: $white;
        opacity: 0.7;
        font-size: 25px;
        z-index: 3;
        &:hover {
          transition: opacity 0.2s linear;
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
  .nav-bar {
    grid-area: nav-bar;
    width: 250px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    nav {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-top: 1em;
      .banner {
        font-size: 30px;
        text-align: center;
        >div {
          font-size: 12px;
        }
      }
      .nav {
        > ul {
          list-style: none;
          padding: 1em 0;
          li {
            padding: 0 8px;
            .nav-link {
              border-radius: 4px;
              padding: 0 16px;
              display: flex;
              align-items: center;
              height: 40px;
              cursor: pointer;
              transition: opacity 0.2s linear;
              i {
                margin-right: 1em;
              }
            }
            .nav-link.is-active,
            .nav-link:hover {
              background-color: $second-background;
            }
          }
        }
      }
      .playlists {
        display: grid;
        grid-row-gap: 1em;
        max-height: calc(100vh - 235px);
        padding: 0 1em;
        overflow-y: scroll;
        @include scrollbar;
        exp-playlists::ng-deep {
          .create {
            .default {
              width: 40px;
              height: 40px;
              i {
                font-size: 10px;
              }
            }
          }
          .playlist-link {
            exp-playlist-image::ng-deep {
              .container {
                width: 40px !important;
                height: 40px !important;
                i {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-view {
    grid-area: main-view;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $second-background;
  }
}
