@import "assets/styles/fonts";
@import "assets/styles/colors";
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  font-family: "Khula";
  background-color: $background;
  height: 100%;
}
body {
  min-width: 768px;
  min-height: 600px;
  display: flex;
  overscroll-behavior-y: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  color: $white;
}
a {
  text-decoration: none;
  color: $white;
}
li {
  list-style: none;
}
button {
  outline: none;
  cursor: pointer;
  color: $white;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  &:hover {
    transform: scale(1.06);
  }
}
.default-button {
  background-color: transparent;
  border: 1px solid $alt;
}
.primary-button {
  background-color: $primary;
}
.spotify-button {
  background-color: $spotify;
  &:hover {
    background-color: $spotify;
  }
}
.green-button {
  background-color: $green;
  &:hover {
    background-color: $green;
  }
}
.red-button {
  background-color: $red;
}
.youtube-button {
  background-color: $youtube;
}
