<div class="header" *ngIf="playlist$ | async as playlist">
  <a href="{{ playlist?.external_urls.spotify }}" target="_blank">
    <swg-playlist-image [playlist]="playlist"></swg-playlist-image>
    <div>
      <h3>{{ playlist?.name }}</h3>
      <small>By {{ playlist?.owner.display_name }}</small>
    </div>
  </a>
  <div class="sub-header" *ngIf="tracks$ | async as tracks">
    <span class="total">{{ tracks?.items.length }} of {{ tracks?.total }} tracks</span>
    <button class="{{ isSecondary ? 'red' : 'green' }}-button" [title]="isSecondary ? 'Remove all tracks' : 'Export all tracks'"
      (click)="execute(true)">
      <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="tracks$ | async as tracks">
  <div class="field">
    <input class="search" type="text" [formControl]="searchControl" placeholder="Search for artists, tracks, albums...">
  </div>
  <div class="tracklist-wrapper" infiniteScroll [scrollWindow]="false" (scrolled)="onScroll(tracks)">
    <ul class="tracklist">
      <ng-container *ngIf="tracks?.items.length > 0; then displayTracks; else displayTip"></ng-container>
      <ng-template #displayTracks>
        <li class="track" *ngFor="let item of tracks?.items">
          <ng-container *ngIf="item.track?.album.images.length > 0; then image; else icon"></ng-container>
          <ng-template #image>
            <img class="track-image" [src]="item.track?.album.images[0].url">
          </ng-template>
          <ng-template #icon>
            <i class="icon music"></i>
          </ng-template>
          <a class="track-informations" [href]="item.track?.external_urls.spotify" target="_blank">
            <div class="wrapper">
              <div class="name" [title]="item.track?.name">{{ item.track?.name }}</div>
              <div class="from" title="{{ item.track?.artists[0]?.name }} · {{ item.track?.album.name }}">
                {{ item.track?.artists[0]?.name }} ·	{{ item.track?.album.name }}
              </div>
            </div>
            <span class="track-duration">{{ toDuration(item.track?.duration_ms) }}</span>
          </a>
          <button class="{{ isSecondary ? 'red' : 'green' }}-button" [title]="isSecondary ? 'Remove' : 'Export'"
            (click)="execute(false, item.track)">
            <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
          </button>
        </li>
      </ng-template>
      <ng-template #displayTip>
        <p class="tip">No songs found in this playlist!</p>
      </ng-template>
    </ul>
  </div>
</ng-container>
