@import "../../../../assets/styles/icons";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  .header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    a {
      display: inherit;
      &:hover {
        text-decoration: underline;
        small {
          color: $white;
        }
      }
      exp-playlist-image::ng-deep {
        .container {
          width: 50px;
          height: 50px;
          margin-right: 0.5em;
          i {
            font-size: 12px;
          }
        }
      }
      h3 {
        font-weight: normal;
      }
      small {
        color: $alt;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 140px;
      button {
        background-color: rgb(123 32 117);
        color: $white;
      }
    }
  }
  .search {
    color: $white;
    background-color: $background;
    padding: 6px 48px;
    max-height: 30px;
    border: 0;
    border-radius: 500px;
    text-overflow: ellipsis;
    outline: none;
    margin-bottom: 1em;
    &::placeholder {
      color: $alt;
    }
  }
  .tracklist {
    .track {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em;
      .music {
        margin-right: 1em;
      }
      &-informations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        .wrapper {
          max-width: 265px;
          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .from {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $alt;
          }
          .track-duration {
            margin-left: 1.5em;
          }
        }
      }
      &:hover {
        background-color: $negative-background;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
      button {
        margin: 0 1.5em;
      }
    }
  }
  .playlists {
    li {
      .playlist-link {
        padding: 5px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.2s linear;
        exp-playlist-image::ng-deep {
          .container {
            width: 60px;
            height: 60px;
            margin-right: 0.5em;
            i {
              font-size: 12px;
            }
          }
        }
      }
      .playlist-link.is-active,
      .playlist-link:hover {
        opacity: 1;
      }
    }
  }
  .tracklist,
  .playlists {
    display: grid;
    row-gap: 0.75em;
    overflow-x: hidden;
    overflow-y: scroll;
    @include scrollbar;
  }
  > h2 {
    margin-bottom: 0.5em;
    font-weight: 100;
  }
}
