<ng-container *ngIf="(playlist$ | async); then playlist; else selection"></ng-container>
<ng-template #playlist>
  <div class="header">
    <a href="{{ (playlist$ | async)?.external_urls.spotify }}" target="_blank">
      <exp-playlist-image [playlist]="playlist$ | async"></exp-playlist-image>
      <div>
        <h3>{{ (playlist$ | async)?.name }}</h3>
        <small>By {{ (playlist$ | async)?.owner.display_name }}</small>
      </div>
    </a>
    <div>
      <span class="total">{{ (tracks$ | async)?.items.length }} of {{ (tracks$ | async)?.total }} tracks</span>
      <ng-container *ngIf="(tracks$ | async) as tracks">
        <button class="green-button" [title]="isSecondary ? 'Remove all tracks' : 'Export all tracks'"
          (click)="execute(true)">
          <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="(tracks$ | async) as tracks">
    <input class="search" type="text" [formControl]="searchControl" placeholder="Search for artists, tracks, albums...">
    <ul class="tracklist" infiniteScroll [scrollWindow]="false" (scrolled)="onScroll(tracks)">
      <li class="track" *ngFor="let item of (tracks$ | async)?.items">
        <ng-container *ngIf="item.track.album.images.length > 0; then image; else icon"></ng-container>
        <ng-template #image>
          <img class="track-image" [src]="item.track.album.images[0].url">
        </ng-template>
        <ng-template #icon>
          <i class="icon music"></i>
        </ng-template>
        <a class="track-informations" [href]="item.track.external_urls.spotify" target="_blank">
          <div class="wrapper">
            <div class="name" [title]="item.track.name">{{ item.track.name }}</div>
            <div class="from" title="{{ item.track.artists[0]?.name }} · {{ item.track.album.name }}">
              {{ item.track.artists[0]?.name }} ·	{{ item.track.album.name }}
            </div>
          </div>
          <span class="track-duration">{{ toDuration(item.track.duration_ms) }}</span>
        </a>
        <button class="{{ isSecondary ? 'red' : 'green' }}-button" [title]="isSecondary ? 'Remove' : 'Export'"
          (click)="execute(false, item.track.uri)">
          <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
        </button>
      </li>
    </ul>
  </ng-container>
</ng-template>
<ng-template #selection>
  <exp-playlists [user$]="user$" [playlists$]="playlists$" [isSecondary]="true"></exp-playlists>
</ng-template>
