<ng-container *ngIf="(playlist$ | async); then playlist; else selection"></ng-container>
<ng-template #playlist>
  <div class="header">
    <a href="{{ (playlist$ | async)?.external_urls.spotify }}" target="_blank">
      <img [src]="(playlist$ | async)?.images[0]?.url">
      <div>
        <h3>{{ (playlist$ | async)?.name }}</h3>
        <small>By {{ (playlist$ | async)?.owner.display_name }}</small>
      </div>
    </a>
    <div>
      <span class="total">{{ (playlist$ | async)?.tracks.total }} tracks</span>
      <ng-container *ngIf="{ tracks: (playlist$ | async)?.tracks.items } as current">
        <button class="green-button" [title]="isSecondary ? 'Remove all' : 'Export all'"
          (click)="execute(current.tracks)">
          <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <ul class="tracklist">
    <li class="track" *ngFor="let item of (playlist$ | async)?.tracks.items">
      <i class="icon music"></i>
      <a class="track-informations" [href]="item.track.external_urls.spotify" target="_blank">
        <div class="wrapper">
          <div class="name" [title]="item.track.name">{{ item.track.name }}</div>
          <div class="from" title="{{ item.track.artists[0]?.name }} · {{ item.track.album.name }}">
            {{ item.track.artists[0]?.name }} ·	{{ item.track.album.name }}
          </div>
        </div>
        <span class="track-duration">{{ toDuration(item.track.duration_ms) }}</span>
      </a>
      <button class="{{ isSecondary ? 'red' : 'green' }}-button" [title]="isSecondary ? 'Remove' : 'Export'"
        (click)="execute(item.track.uri)">
        <i class="icon {{ isSecondary ? 'minus' : 'plus' }}"></i>
      </button>
    </li>
  </ul>
</ng-template>
<ng-template #selection>
  <h2>Playlists</h2>
  <ul class="playlists">
    <li *ngFor="let playlist of (playlists$ | async)?.items">
      <a class="playlist-link" (click)="navigate(playlist.id)">
        <img [src]="playlist.images[0]?.url">
        <div>{{ playlist.name }}</div>
      </a>
    </li>
  </ul>
</ng-template>
