@import "../../../../assets/styles/icons";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  .header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    a {
      display: inherit;
      &:hover {
        text-decoration: underline;
        small {
          color: $white;
        }
      }
      exp-playlist-image::ng-deep {
        .container {
          width: 50px;
          height: 50px;
          margin-right: 0.5em;
          i {
            font-size: 12px;
          }
        }
      }
      h3 {
        font-weight: normal;
      }
      small {
        color: $alt;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 140px;
      button {
        background-color: rgb(123 32 117);
        color: $white;
      }
    }
  }
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    svg {
      position: relative;
      left: 2.5em;
      right: auto;
      top: auto;
      bottom: auto;
      color: $alt;
    }
    .search {
      color: $white;
      background-color: $background;
      padding: 6px 48px;
      max-height: 30px;
      border: 0;
      border-radius: 500px;
      text-overflow: ellipsis;
      outline: none;
      width: 100%;
      border: 1px solid transparent;
      transition: 0.3s ease;
      &:focus,
      &:active {
        border-color: $alt;
      }
      &::placeholder {
        color: $alt;
      }
    }
  }
  .tracklist {
    .track {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em;
      max-width: 435px;
      border-radius: 3px;
      .music {
        margin-right: 1em;
      }
      &-image {
        width: 50px;
        height: 50px;
      }
      &-informations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 0 0.75em;
        .wrapper {
          max-width: 240px;
          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .from {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $alt;
          }
          .track-duration {
            margin-left: 1.5em;
          }
        }
      }
      &:hover {
        background-color: $negative-background;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }
  .tracklist-wrapper {
    display: grid;
    row-gap: 0.75em;
    overflow-x: hidden;
    overflow-y: scroll;
    @include scrollbar;
  }
  > h2 {
    margin-bottom: 0.5em;
    font-weight: 100;
  }
}
