<h2>{{ title }}</h2>
<ul class="playlists" *ngIf="playlists$ | async as playlists">
  <ng-container *ngIf="allowCreation">
    <li class="create" (click)="isCreating = true" title="Create a playlist">
      <div class="playlist-link">
        <div class="default">
          <i class="icon plus"></i>
        </div>
        <div>Create Playlist</div>
      </div>
    </li>
    <li (click)="navigate(true)" title="Liked Songs">
      <div class="playlist-link">
        <div class="default liked">
          <i class="icon heart"></i>
        </div>
        <div>Liked Songs</div>
      </div>
    </li>
    <div class="separator"></div>
  </ng-container>
  <li *ngFor="let playlist of playlists?.items" [title]="playlist.name">
    <a class="playlist-link" (click)="navigate(false, playlist.id)">
      <swg-spotify-playlist-image [playlist]="playlist"></swg-spotify-playlist-image>
      <div>{{ playlist.name }}</div>
    </a>
  </li>
</ul>
<ng-container *ngIf="(user$ | async)?.id as user">
  <swg-dialog
    *ngIf="allowCreation && isCreating"
    [entry]="dialog"
    (cancel)="isCreating = false"
    (action)="onCreate($event, user)"
  ></swg-dialog>
</ng-container>
