:host {
  swg-playlist::ng-deep,
  swg-liked::ng-deep {
    max-height: calc(100vh - 145px);
  }
  swg-playlists::ng-deep {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1em;
    ul {
      max-height: calc(100vh - 180px);
    }
  }
}
