<div class="loader" #loader>
  <div class="element"></div>
</div>
<ng-container *ngIf="user$ | async">
  <div class="top-bar">
    <div class="shares">
      <a class="share-link" href="https://github.com/nohanna" target="_blank">
        <i class="brand github"></i>
      </a>
      <a class="share-link" href="https://twitter.com/wpereira_nhna" target="_blank">
        <i class="brand twitter"></i>
      </a>
    </div>
    <!-- Profile goes here! -->
  </div>
  <div class="nav-bar">
    <nav>
      <div class="banner">
        <a routerLink="/youtube/home">
          <span>Swingify</span>
          <div>v.{{ version }}</div>
        </a>
      </div>
      <div class="nav" *ngIf="navLinks">
        <ul>
          <li *ngFor="let navLink of navLinks">
            <a class="nav-link" [routerLink]="navLink.link" [routerLinkActive]="['is-active']">
              <i class="icon {{ navLink.icon }}"></i>
              <span>{{ navLink.name }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" (click)="isSearching = true">
              <i class="icon search"></i>
              <span>Search</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="playlists">
        <!-- Playlists go here -->
      </div>
    </nav>
  </div>
</ng-container>
<div class="main-view">
  <router-outlet #youtube></router-outlet>
</div>
<swg-dialog *ngIf="isSearching" [entry]="dialog" (cancel)="isSearching = false"
  (action)="onSearch($event)"></swg-dialog>
