<swg-playlist-nav [user$]="user$" [playlists$]="playlists$" [playlist$]="playlist$"
  [playlistTracks$]="playlistTracks$" platform="spotify" [isSecondary]="false" [isAuthenticated]="isAuthenticated">
  <ng-container profile>
    <swg-profile-menu [user$]="user$" [isSecondary]="isSecondary"></swg-profile-menu>
  </ng-container>
  <ng-container playlist>
    <swg-playlist *ngIf="playlist$ | async" [user$]="user$" [playlists$]="playlists$"
      [playlist$]="playlist$" [tracks$]="playlistTracks$" [isSecondary]="isSecondary"
      (action)="execute($event, false)" (next)="onNext($event, false)" (search)="onSearch($event, false)"></swg-playlist>
    <swg-liked *ngIf="savedTracks$ | async" [user$]="user$"
      [playlists$]="playlists$" [tracks$]="savedTracks$" [isSecondary]="isSecondary"
      (action)="execute($event, true)" (next)="onNext($event, true)" (search)="onSearch($event, true)"></swg-liked>
  </ng-container>
  <ng-container playlists>
    <swg-playlists title="Playlists" [allowCreation]="true" [user$]="user$"
      [playlists$]="playlists$" [isSecondary]="isSecondary"></swg-playlists>
  </ng-container>
</swg-playlist-nav>
