<div class="container">
  <div class="primary-nav">
    <swg-playlist-nav [user$]="primaryUser$" [playlists$]="primaryPlaylists$"
      [playlistTracks$]="primaryPlaylistTracks$" [isAuthenticated]="isAuthenticated()"></swg-playlist-nav>
  </div>
  <div class="content">
    <header>
      <h1>Wanna see a magic trick?</h1>
      <button class="primary-button share" title="Share my playlist" (click)="share()">
        <i class="icon copy"></i>
        <span>Share</span>
      </button>
      <span class="tip" [title]="getHelp()"><i class="icon question-circle"></i></span>
    </header>
    <div class="from-to">
      <div class="box" [title]="(primaryPlaylistTracks$ | async)?.items[0].snippet.playlistId">
        <swg-playlist-image [playlist]="primaryPlaylistTracks$ | async"></swg-playlist-image>
      </div>
      <i class="icon long-arrow-right"></i>
      <div class="box" [title]="(secondaryPlaylist$ | async)?.name
        ? (secondaryPlaylist$ | async)?.name
        : (secondarySavedTracks$ | async) ? 'Liked Songs' : 'Unknown'">
        <swg-playlist-image [playlist]="secondaryPlaylist$ | async" [savedTracks]="secondarySavedTracks$ | async"></swg-playlist-image>
      </div>
    </div>
  </div>
  <div class="secondary-nav">
    <swg-playlist-nav [user$]="secondaryUser$" [playlists$]="secondaryPlaylists$" [playlist$]="secondaryPlaylist$"
      [playlistTracks$]="secondaryPlaylistTracks$" [savedTracks$]="secondarySavedTracks$"
      [isSecondary]="true" [isAuthenticated]="isSecondaryAuthenticated()"></swg-playlist-nav>
  </div>
</div>
