<swg-export-wrapper>
  <ng-container primary-nav>
    <swg-youtube-playlist-nav [user$]="primaryUser$" [playlists$]="primaryPlaylists$" [playlist$]="primaryPlaylist$"
      [playlistTracks$]="primaryPlaylistTracks$" [isAuthenticated]="isAuthenticated()" platform="youtube"></swg-youtube-playlist-nav>
  </ng-container>
  <ng-container primary-box>
    <div class="box" [title]="(primaryPlaylist$ | async)?.snippet.title">
      <swg-youtube-playlist-image [playlist]="primaryPlaylist$ | async"></swg-youtube-playlist-image>
    </div>
  </ng-container>
  <ng-container secondary-box>
    <div class="box" [title]="(secondaryPlaylist$ | async)?.name
      ? (secondaryPlaylist$ | async)?.name
      : (secondarySavedTracks$ | async) ? 'Liked Songs' : 'Unknown'">
      <swg-spotify-playlist-image [playlist]="secondaryPlaylist$ | async" [savedTracks]="secondarySavedTracks$ | async"></swg-spotify-playlist-image>
    </div>
  </ng-container>
  <ng-container secondary-nav>
    <swg-spotify-playlist-nav [user$]="secondaryUser$" [playlists$]="secondaryPlaylists$" [playlist$]="secondaryPlaylist$"
      [playlistTracks$]="secondaryPlaylistTracks$" [savedTracks$]="secondarySavedTracks$"
      [isSecondary]="true" [isAuthenticated]="isSecondaryAuthenticated()" platform="youtube"></swg-spotify-playlist-nav>
  </ng-container>
</swg-export-wrapper>
