<div class="container">
  <ng-container *ngIf="playlist; then asPlaylist; else asSaved"></ng-container>
  <ng-template #asPlaylist>
    <ng-container *ngIf="playlist?.snippet.thumbnails; then image; else default"></ng-container>
    <ng-template #image>
      <img [src]="playlist?.snippet.thumbnails.standard.url" />
    </ng-template>
  </ng-template>
  <ng-template #asSaved>
    <ng-container *ngIf="savedTracks; then heart; else default"></ng-container>
    <ng-template #heart>
      <div class="default liked">
        <i class="icon heart"></i>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #default>
    <div class="default">
      <i class="icon question"></i>
    </div>
  </ng-template>
</div>
