<ng-container *ngIf="isAuthenticated; then playlist; else card"></ng-container>
<ng-template #playlist>
  <div class="header">
    <a class="back" title="Back to playlists" (click)="onNavigateBack()">
      <i class="icon long-arrow-left"></i>
    </a>
    <ng-content select=[profile]></ng-content>
  </div>
  <ng-container *ngIf="(playlist$ | async) || (savedTracks$ | async); then playlist; else selection"></ng-container>
  <ng-template #playlist>
    <ng-content select=[playlist]></ng-content>
  </ng-template>
  <ng-template #selection>
    <ng-content select=[playlists]></ng-content>
  </ng-template>
</ng-template>
<ng-template #card>
  <div class="card-wrapper">
    <swg-card platform="Spotify" (auth)="onAuthenticate()">
      <ul class="tips">
        <li>
          <h2>Log in Spotify</h2>
          <p>You will be redirected to Spotify's login page and will be automatically logged in with your current account.</p>
        </li>
        <li *ngIf="isSecondary">
          <h2>Switch account</h2>
          <p>Make sure to switch your account when the Spotify's dialog box will show up and log in with your second account.</p>
        </li>
        <li>
          <h2>Export your tracks</h2>
          <p>You can now add or remove tracks one by one or simply all in one!</p>
        </li>
      </ul>
    </swg-card>
  </div>
</ng-template>
