@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/icons";
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 1em;
  padding: 2em;
  background: $background;
  border-radius: 8px;
  isolation: isolate;
  h1 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    i {
      margin-right: 0.5em;
    }
  }
  p {
    font-size: 13px;
    margin: 0.5em 0;
    color: #c3c3c3;
  }
  button {
    margin-top: 1em;
  }
}
